/**
* Contains:
Index for multimedia elements
Timeline for about us page
Center responsive images
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


a.index-item {
    width: 100%;
    font-size: 20px;
    border: solid 2px;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

a.index-item:hover {
    font-weight: bolder;
}



/*--------------------------------------------------------------
# change dark transparent overlay in hero section to make it lighter
--------------------------------------------------------------*/
#hero:before {
 content: "";
   background: rgba(13, 20, 26, 0.5);
}




/*--------------------------------------------------------------
# Make some images zoom out
--------------------------------------------------------------*/

.hover {
    transition: all 0.3s;
}

.hover:hover {
    transform: scale(1.15);
}

/*--------------------------------------------------------------
# Change buttons hero
--------------------------------------------------------------*/

#hero .btn-get-started {
  font-size: 18px;
  margin: 25px;
}


/*--------------------------------------------------------------
# Padding in section (Gabriele's wish)
--------------------------------------------------------------*/
section {
    padding: 80px 0;
    overflow: hidden;
}
